<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
</head>
<body>
    <div class="app">
        <div class="navigation">
            <form>
                <input type="search" name="location" id="location" pattern="^^[\w\.][\w\d\,].+" required>
                <input type="submit" value="" id="search">
            </form>
            <button id="locate"></button>
            <button data-unit="metric" id="units"></button>
        </div>
        <div class="content">
            <div class="current" id="current">
                <div class="main-card"></div>
            </div>
            <div class="forecast">Forecast Area</div>
        </div>
        <div class="hourly-content">
            <div class="hourly-precipitation">
                <canvas id="precip-chart"></canvas>
            </div>
            <div class="hourly-temperature">
                <canvas id="temp-chart"></canvas>
            </div>
        </div>
    </div>
    <div class="footer">
        <a href="https://github.com/vanessapigwin/weather-app-top">
            <span>vanessapigwin</span>
            <img src="<%=require('../images/github-mark-white.png')%>" alt="gh-icon">
        </a>
    </div> 
</body>
</html>